<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content='Demo' />
    <meta name='keywords' content='Demo' />
    <meta property='og:title' content='' />
    <meta property='og:type' content='' />
    <meta property='og:url' content='' />
    <meta property='og:image' content='' />
    <link rel='shortcut icon' href='' type='image/x-icon'>
    <title>First App</title>
  </head>
  <body>
    <scaffold>
      <input type="text" id="id-a6b566fd-5409-443f-b996-e6b12cb16261">
      <div id="id-8f64e740-bdfb-439a-8427-1503499e1a26"></div>
      <script>
        const input = document.querySelector('#id-a6b566fd-5409-443f-b996-e6b12cb16261');
        const output = document.querySelector('#id-8f64e740-bdfb-439a-8427-1503499e1a26');
        input.addEventListener('input', () => {
          output.innerHTML = input.value;
          let value = (e) => {}
          value(input.value)
        })
      </script>
    </scaffold>
  </body>
</html>