<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <meta name='description' content='Este es un Framework de prueba'>
    <meta name='keywords' content='' />

    <meta property='og:title' content='' />
    <meta property='og:type'  content='' />
    <meta property='og:url'   content='' />
    <meta property='og:image' content='' />

    <link rel='shortcut icon' href='' type='image/x-icon'>

    <title>Mi primer proyecto</title>
</head>

<body>

    <scaffold>
    
        
    <div style='
            display: inline-block;
            
            
            
            
            '
    >
      Hola como estas?
    </div>

    </scaffold>

</body>
</html>